

@font-face {
    font-family: myFont;
    src: url('../assets/font/Parisish.ttf') format('truetype');
    
}

.body{
    position: relative;
    margin: 0 auto;
}

.flexbox-container {
    position:sticky;
    display: flex;
    font-family: myFont;
    flex-direction: row;
    
    justify-content:space-evenly;
    
    align-items:baseline;
}

h1 {
    font-size:6vh;
    font-family: myFont;
}

h2 {
    font-size:4vh;
    font-family: myFont;
}

#audioBackground{
    top: 10px;
    right: 10px; 
}


#backpic {
    // position: fixed;
    // display: flex;
    // position: fixed;
    width: 1900px;
    height:100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size:cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
}

$color: #0cf;

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
&:hover {
    color: #fff;
    &:before {
    width: 100%;
    }
}
}


#navBar {
    position: absolute;
    top: -3%;
    right: 0px;
}

#navBar ul {
    display: flex;
}

i {
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}