.menu {
    position: relative;
}

.flexbox-container {
    position:sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content:space-between;
}

.home {
    position: absolute;
    top: 110px;
    left: 200px;
    width:1400px;
    height:800px;
}

.board {
    position: absolute;
    top: 110px;
    left: 200px;
    width:1400px;
    height:800px;
}

#canvasHome {
    position: fixed;
    border: 13px solid rgb(223, 228, 228);
}
#canvasBoard {
    position:fixed;
    border: 13px solid rgb(223, 228, 228);
}

#backgroundHome {
    position: fixed;
    width:1420px;
    height:820px;
}

#backgroundBoard {
    position:fixed;
    width:1420px;
    height:820px;
}


#start{
    position: absolute;
    top: 13px;
    left: 48%;
}

#restart{
    position: relative;
    top: 13px;
    left: 48%;
}
#pause{
    position: relative;
    top: 13px;
    left: 48%;
}

#audioBackground {
    position: sticky;
    width: 240px;
}


#backpic {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}



// #player{
//     position: absolute;
//     top: 80px;
//     left: 50px;
// }

// #backpic {
//     background-image: url("adobe-252661691.jpeg");
//     background-repeat: no-repeat;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
// }
