@import "./styles/style.scss";
html, body{
    overflow: hidden;
}
@font-face {
    font-family: myFont;
    src: url('../assets/font/Parisish.ttf') format('truetype');
    
}



.menu-container {
	position: relative;
	top: 0;
    color:rgb(85, 132, 172);
    font-family: myFont;
    z-index: 1;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    color:rgb(85, 132, 172);
    font-family: myFont;
}

.flexbox-container {
    position:sticky;
    display: flex;
    font-family: myFont;
    flex-direction: row;
    
    justify-content:space-evenly;
    max-height: 70px;
    align-items:center;
}

h1 {
    font-size:50px;
    font-family: myFont;
    z-index: 1;
}

h2 {
    font-size:30px;
    font-family: myFont;
    z-index: 1;
}

//for how to play 
/* Dropdown Button */
.dropbtnHow {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-size: xx-large;
    border: none;
    z-index: 1;

}

// /* The container <div> - needed to position the dropdown content */
.dropdownHow {
    position:sticky;
    display: block;
    z-index: 1;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentHow {
    display: none;
    text-align: center;
    position: absolute;
    top:104px;
    left:-80px;
    min-width: 30rem;
    z-index: 1;
    font-size: xx-large;
    color: rgb(66, 66, 167);
    background-color: white;
    border: 20px solid rgb(66, 66, 167);

    opacity: 0.8;
}


/* Show the dropdown menu on hover */
.dropdownHow:hover .dropdown-contentHow {display:block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownHow:hover .dropbtnHow {background-color: inherit;}




//for contact dropdown menu

/* Dropdown Button */
.dropbtn {
    background-color: inherit;
    color: inherit;
    padding: 16px;
    font-size: xx-large;
    border: none;
    z-index: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: sticky;
    display: block;
    z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: x-large;
    opacity: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: inherit;}





.home {
    position: absolute;
    // left: 13%;
    width:1500px;
    height:800px;
}

.board {
    position: absolute;
    top: 80px;
    // left: 13%;
    width:1500px;
    height:800px;
}

#canvasHome {
    position: absolute;
    margin: 0;
    border: 13px solid rgb(223, 228, 228);
}
#canvasBoard {
    position:absolute;
    border: 13px solid rgb(223, 228, 228);
}

#backgroundHome {
    position: absolute;
    overflow: hidden;
    margin: 0;
    width:1420px;
    height:820px;
}

#backgroundBoard {
    position:absolute;
    width:1420px;
    height:820px;
    margin: 0%;
    border: 0%;
    overflow: hidden;

}

// footer{
//     margin: 0%;
//     border: 0%;
//     overflow: hidden;
//     text-align: center;
//     padding: 0px;
//     // background-color: rgba(82, 151, 194, 0.452);
//     color: black
//     font-family: myFont;
//     z-index: 100;
// }

#footnotes{
    width: 1900px;
    position:absolute;
    color:white;
    font-family: myFont;
    text-align: center;
    bottom: 5%;
    max-height: 5px;
    font-size: x-large;
}

#start{
    font-family: myFont;
    font-size:xx-large;
    position: absolute;
    bottom: 61px;
    left: 41%;
    opacity: 0.8;
}

#restart{
    position: absolute;
    top: 16px;
    left: 80px;
    opacity: 0.9;
}
#pause{
    position: absolute;
    top: 16px;
    right:40px;
    opacity: 0.8;
}

//background music
#musicOn {
    position:absolute;
    left: 50%;
    top: 65px;
    display: block;
    z-index: 1;
    background-color: clear;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#musicOff {
    position:absolute;
    left: 50%;
    top: 65px;

    display: none;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

//sound effect
#soundOn {
    position:absolute;
    left: 50%;
    top: 15px;
    display: block;
    z-index: 1;
    background-color: clear;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#soundOff {
    position:absolute;
    left: 50%;
    top: 15px;

    display: none;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

//audio withi controls
// #audioBackground{
//     position: absolute;
//     top: 17px;
//     right: 530px;
//     width: 150px;
//     opacity: 0.8;
//     z-index: 1;
    
// }

#backpic {
    // position: fixed;
    // display: flex;
    // position: fixed;
    width: 1900px;
    height:900px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size:cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    z-index: 999;

}

// #player{
//     position: absolute;
//     top: 80px;
//     left: 50px;
// }

// #backpic {
//     background-image: url("adobe-252661691.jpeg");
//     background-repeat: no-repeat;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
// }





$color: rgb(85, 132, 172);

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0cf;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
&:hover {
    color: #fff;
    &:before {
    width: 100%;
    }
}
}

// #audioBackground{
//     position: absolute;
//     top: 17px;
//     right: 530px;
//     width: 150px;
//     opacity: 0.8;
//     z-index: 1;
    
// }

