.body{
    position: relative;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    color:rgb(85, 132, 172);
    font-family: myFont;
}

.flexbox-container {
    position:sticky;
    display: flex;

    flex-direction: row;
    
    justify-content:space-evenly;
    
    align-items:baseline;
}



h1 {
    font-size:6vh;
}

h2 {
    font-size:4vh;
}



#audioBackground{
    position:fixed;
    right:30px;
    top:30px;
    width: 240px;
}

.home {
    position: absolute;
    top: 110px;
    left: 200px;
    width:1400px;
    height:800px;
}

.board {
    position: absolute;
    top: 110px;
    left: 200px;
    width:1400px;
    height:800px;
}

#canvasHome {
    position: absolute;
    margin: 0;
    border: 13px solid rgb(223, 228, 228);
}
#canvasBoard {
    position:absolute;
    border: 13px solid rgb(223, 228, 228);
}

#backgroundHome {
    position: absolute;
    margin: 0;
    width:1420px;
    height:820px;
}

#backgroundBoard {
    position:absolute;
    width:1420px;
    height:820px;
}

#start{
    font-family: myFont;
    font-size:xx-large;
    position: absolute;
    bottom: 8.0%;
    left: 41%;
}

#restart{
    position: absolute;
    top: 14px;
    left: 13px;
}
#pause{
    position: absolute;
    top: 14px;
    right:-13px;
}


#backpic {
    // position: fixed;
    display: flex;
    // position: fixed;
    width: 100%;
    height:fit-content;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// #player{
//     position: absolute;
//     top: 80px;
//     left: 50px;
// }

// #backpic {
//     background-image: url("adobe-252661691.jpeg");
//     background-repeat: no-repeat;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
// }



@font-face {
    font-family: myFont;
    src: url('/assets/font/Parisish.ttf') format('truetype');
    
}

$color: #0cf;

.button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
}
&:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
&:hover {
    color: #fff;
    &:before {
    width: 100%;
    }
}
}