body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasBoard {
    position: absolute;
    width:1400px;
    height:800px;
    // padding: 4px solid blue;
    border: 8px solid rgb(118, 220, 210);
}

#background {
    position:absolute;
    width:1400px;
    height:800px;
}

// #canvasMouse {
//     position: absolute;
//     background: black;
//     width: 100%;
//     height: 100%;
//     top: 0;
// }

h1 {
    position: absolute;
    
}